@import "../../variables.scss";

.DashboardGrid{
    @apply
    grid
    gap-4
    md:grid-cols-3
    lg:grid-cols-4;

    .CardBody{
        @apply
        grid
        text-center
        text-theme-darkgrey
        p-8;

        .TitleText{
            @apply
            text-[1.5rem]
            font-bold
            mb-8;
        }
        
        .ContentContainer{
            @apply
            text-center
            w-full
            grid
            gap-4
            md:grid-cols-2;

            .ContentItem{
                @apply
                grid
                gap-2;

                .ItemNumber{
                    @apply
                    font-medium
                    text-[2.5rem];
                }
            }
        }

            
        .CardButton{
            transition: $transition-background;

            @apply
            mt-8
            w-1/2
            mx-auto
            max-w-[20rem]
            p-3
            bg-theme-brown
            text-theme-white
            rounded-default;

            &:hover{
                @apply
                bg-theme-darkgrey;
            }
        }
        
    }
}